<a href="https://colab.research.google.com/github/mahmudul2711/mahmud/blob/main/wtmoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Drive and Read Dataset

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [4]:
wtmoc = pd.read_csv('gdrive/My Drive/Colab Notebooks/project/prjectai.csv')

Show Dataset

In [5]:
wtmoc.head()

             Timestamp  ... Which would you like to decorate?
0  28/03/2021 20:18:58  ...                   Flowering plant
1  28/03/2021 20:26:22  ...                            shrubs
2  28/03/2021 20:28:42  ...                   Flowering plant
3  28/03/2021 20:29:23  ...                   Flowering plant
4  28/03/2021 21:05:52  ...                             Plant

[5 rows x 8 columns]

Show shape

In [6]:
wtmoc.shape

(999, 8)

Show All Information with missing Value

In [7]:
wtmoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 8 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   Timestamp                                                                                              29 non-null     object
 1   Name                                                                                                   999 non-null    object
 2   Gender                                                                                                 999 non-null    object
 3   How old are you?                                                                                       999 non-null    object
 4   Where do you living?                                                                                   998 non-null    object
 5   What is your profession?                                                                               999 non-null    object
 6   Are you willing to decorate your building or apartment with natural equipment like shrubs and plants?  998 non-null    object
 7   Which would you like to decorate?                                                                      870 non-null    object
dtypes: object(8)
memory usage: 62.6+ KB

Show Null Value

In [8]:
wtmoc.isnull().sum()

Timestamp                                                                                                970
Name                                                                                                       0
Gender                                                                                                     0
How old are you?                                                                                           0
Where do you living?                                                                                       1
What is your profession?                                                                                   0
Are you willing to decorate your building or apartment with natural equipment like shrubs and plants?      1
Which would you like to decorate?                                                                        129
dtype: int64

Import library for data visualization

In [9]:

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

** Create a function to see the graph**

In [ ]:
def bar_chart(feature):